<launch>
  <!-- Configure settings file. -->
  <arg name="knowrob_settings" default="$(find knowrob)/settings/default.pl" />
  <env name="KNOWROB_SETTINGS" value="$(arg knowrob_settings)" />
  
  <include file="$(find rosprolog)/launch/rosprolog.launch">
    <arg name="initial_package" default="suturo_knowledge" />
    <arg name="initial_goal" default="urdf_init" />
  </include>
  <!-- <node name="give_string" pkg="suturo_knowledge" type="get_location.py" output="screen"/> -->
  <!-- <node name="give_string" pkg="suturo_knowledge" type="get_object_info.py" output="screen"/> -->
  <node name="save_server" pkg="suturo_knowledge" type="save_server.py" output="screen"/>
  <node name="drink_server" pkg="suturo_knowledge" type="drink_server.py" output="screen"/>  
  <node name="name_server" pkg="suturo_knowledge" type="name_server.py" output="screen"/>
  <node name="interf_q" pkg="suturo_knowledge" type="interf_q.py" output="screen"/>
</launch>
