<launch>
  <arg name="mongodb_log" default="false" />
  <arg name="mongodb_whipe" default="false" />
  

  <include file="$(find object_state)/launch/rosprolog.launch" />
  <!-- param name="initial_package" type="string" value="knowrob_refills" />
  <param name="initial_goal" type="string" value="register_ros_package(robosherlock_knowrob),owl_parser:owl_parse('package://knowrob_refills/owl/iai-shop.owl'),owl_parser:owl_parse('package://knowrob_refills/owl/product-catalog.owl')" />
  <node name="rosprolog" pkg="rosprolog" type="rosprolog_node" output="screen"/-->
<!--
  <include file="$(find knowrob_paramserver)/launch/upload_owl_to_paramserver.launch" />
-->

  <!--group if="$(arg mongodb_whipe)">
    <node name="mongodb_whipe" pkg="knowrob_refills" type="delete_mongo_roslog.sh" />
  </group-->

  <node name="object_state_publisher" pkg="knowrob_objects" type="object_state_publisher.py" output="screen">
    <param name="hz" value="10" />
    <param name="object_types" value="knowrob:'EnduringThing-Localized'" />
  </node>

  <node name="store_object_info_server" pkg="knowledge" type="store_object_info_server.py" output="screen"/>
  
  <group if="$(arg mongodb_log)">
    <node name="mongodb_log" pkg="mongodb_log" type="mongodb_log"
      args="/tf --mongodb-name SUTURO_0" />
  </group>

</launch>
