<launch>
  <arg name="mongodb_log" default="false" />
  <arg name="mongodb_whipe" default="false" />
  <arg name="urdf_param" default="/hsrb_lab" />

  <include file="$(find suturo_urdf_publisher)/launch/lab_publisher.launch" />

  <param name="param_to_load_URDF_from" type="str" value="$(arg urdf_param)" />

  <param name="initial_package" type="string" value="knowledge" />
  <param name="initial_goal" type="string" value="ros_param_get_string('/param_to_load_URDF_from', Param),
    load_surfaces_from_param(Param)." />

  <node name="rosprolog" pkg="rosprolog" type="rosprolog_node" cwd="node" output="screen">
  </node>


  <param name="URDFFile" type="str" value="hsrb_lab.urdf" />


  <node name="object_state_publisher" pkg="knowrob_objects" type="object_state_publisher.py" output="screen">
    <param name="hz" value="10" />
    <param name="object_types" value="knowrob:'EnduringThing-Localized'" />
  </node>

  <node name="store_object_info_server" pkg="knowledge" type="store_object_info_server.py" output="screen"/>

  <node name="manipulation_listener" pkg="knowledge" type="manipulation_listener.py" output="screen"/>-->

  
  <group if="$(arg mongodb_log)">
    <node name="mongodb_log" pkg="mongodb_log" type="mongodb_log"
      args="/tf --mongodb-name SUTURO_0" />
  </group>
</launch>
