<launch>
  <arg name="urdf_param" default="/hsrb_lab" />

  <node name="rosprolog" pkg="rosprolog" type="rosprolog_node" cwd="node" output="screen">
    <param name="param_to_load_URDF_from" type="str" value="$(arg urdf_param)" />
    <param name="initial_package" type="string" value="knowledge" />
    <param name="initial_goal" type="string" value=
            "owl_parse('package://knowledge/owl/objects.owl'),
             tf_lookup_transform(map, map, _),
             ros_param_get_string('/rosprolog/param_to_load_URDF_from', Param),
             load_surfaces_from_param(Param)." />
  </node>
</launch>
