<launch>
  <param name="initial_package" type="string" value="knowledge" />
  <param name="initial_goal" type="string"
         value="owl_parse('package://knowledge/owl/objects.owl'), tf_lookup_transform(map, map, _)" />

  <node name="rosprolog" pkg="rosprolog" type="rosprolog_node" cwd="node" output="screen" />
</launch>
